@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container-fluid{
padding: 0;
margin: 0;
}
.carousel-item{
    width: 100%;
}
.container-fluid .carousel-inner .carousel-item img{
    width: 100%;
    height: 100vh;
}
.container-fluid .carousel-inner .carousel-item .content{
 font-size: 30px;
}
.container-fluid .carousel-inner .carousel-item .content h1{
    font-size: 50px;
}
.section-1{
    position: relative;
    height: 100vh;
    background-color: #fffff1;
}
.boxContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 50vh;
    display: flex;
}
.boxContainer .box{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #ccc;
    transition: .5s;

}
.boxContainer .box .thumb{
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.boxContainer .box:nth-child(odd) .thumb{
    bottom: 0;
    left: 0;

}
.boxContainer .box .thumb img{
    width: 100%;
}
.boxContainer .box .details{
    position: absolute;
    width: 100%;   
    height: 250px;
    overflow: hidden;
    background-color: #262626;
}
.boxContainer .box:nth-child(even) .details {
    bottom: 0;
    left: 0;
}
.boxContainer .box:nth-child(1) .details {
    background-color: #855ccc;
}
.boxContainer .box:nth-child(2) .details {
    background-color: #1d7ccc;
}
.boxContainer .box:nth-child(3) .details {
    background-color: #ff511c;
}
.boxContainer .box:nth-child(4) .details {
    background-color: red;
}
.boxContainer .box .details .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 20px;
    text-align: center;
    transition: .5s;
}
.boxContainer .box .details .content .fas {
    font-size: 5em;
    color: #fff
}
.boxContainer .box .details .content .fab{
    font-size: 5em;
    color: #fff;     
}
.boxContainer .box:hover{
    transform: scale(1.2);
    z-index: 1;
}
@media (max-width: 1000px){
    .carousel{
        overflow: hidden;
        width: 100%;
    }
    .carousel-inner{
        width: 1920px;
    }
    .carousel .carousel-inner .carousel-item .content{
        position: absolute;
        z-index: 1;
        left: 50%;
        bottom: 10%;
        transform: translate(-125%);
    }
    .carousel-inner .carousel-item {
        position: relative;
        width: 1920px;
    }
    .carousel-inner .carousel-item img{
        width: 100%;
        transform: translateX(-30%);
    }
    .boxContainer{
        width: 100%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    .boxContainer .box{
        height: 250px;
    }
    .boxContainer .box .thumb {
        display: none;
    }
}
@media(max-width: 768px){
    .carousel{
        overflow: hidden;
        width: 100%;
    }
    .carousel-inner{
        width: 768px;
    }
    .carousel .carousel-inner .carousel-item .content{
        left: 50%;
        bottom: 10%;
        z-index: 1;
        position: absolute;
        transform: translate(-150%);
    }
    .carousel-inner .carousel-item {
        position: relative;
        width: 1920px;
    }
    .carousel-inner .carousel-item img{
        width: 100%;
        transform: translateX(-45%);
    }
    .boxContainer{
        display: initial;
    }
    .boxContainer .box{
        width: 50%;
        float: left;
        height: 250px;

    }
}
@media(max-width: 556px){
    .carousel{
        overflow: hidden;
        width: 100%;
    }
    .carousel-inner{
        width: 556px;
    }
    .carousel .carousel-inner .carousel-item .content{
        position: absolute;
        z-index: 1;
        left: 50%;
        bottom: 10%;
        transform: translate(-162%);
    }
    .carousel-inner{
        width: 556px;
    }
    .carousel-inner .carousel-item {
        position: relative;
        width: 1920px;
    }
    .carousel-inner .carousel-item img{
        width: 100%;
        transform: translateX(-50%);
    }
    .boxContainer{
        padding-top: 140px;
        top: 0;
        left: 0;
        transform: translate(0);
    }
    .boxContainer .box{
        width: 100%;
        float: none;
        height: 250px;
    }
}